{% extends "base.html" %} {% load i18n %} {% load django_bootstrap5 %} {% block head_title %}{% trans "Log In" %}{% endblock %} {% block content %}

<div class="col-lg-5 mb-4 mt-4">
    <h1 class="mb-3">{% trans "Table booking" %}</h1>
    <div class="mb-3">
        <p>{% blocktrans %}Please log in to continue to the reservation page, if you don’t have an account, register
            <a href="{{ signup_url }}">here</a>.{% endblocktrans %}
        </p>
    </div>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %} {% bootstrap_form form %} {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "OK" %}</button>
    </form>
</div>

{% endblock %}