{% extends "base.html" %} {% load i18n %} {% load django_bootstrap5 %} {% block head_title %}{% trans "Signup" %}{% endblock %} {% block content %}

<div class="col-lg-5 mb-4 mt-4">
    <h1 class="mb-3">{% trans "Sign Up" %}</h1>
    <div class="mb-3">
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}
        </p>
    </div>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %} {% bootstrap_form form %} {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign up" %} &raquo;</button>
    </form>
</div>

{% endblock %}