{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="col-lg-5 col mt-4 px-4 mb-4">
    <h3 class="mb-3 text-center">Thank you!</h3>
    <h3 class="mb-3 text-center">Step 3 of 3</h3>
    <img width="auto" height="auto" class="rounded mx-auto d-block mb-5 mt-5"
        src="{% static 'images/Complete_lefleurlogo.webp' %}" alt="Le fleur">
    <p class="text-center w-50 m-auto">Your reservation is completed. To view your reservation, go to My reservation in
        the menu above.</p>
</div>

{%endblock%}