{% extends "base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="col-lg-5 col mt-4 px-4 mb-4">
    {% if reservation %}
    <h3 class="mb-3 text-center">Reservation details</h3>
    {% if user.is_authenticated %}
    <p class="mt-4 text-center">Welcome, {{ user.email }}. Thank you for visiting.</p>
    {% endif %}
    <div class="col">
        <div class="card">
            <div class="card-body m-auto text-left">
                <div>
                    Date: {{ date|date:'l j b' }}
                </div>
                <div>
                    Time: {{ date|date:'H:i' }}
                </div>
                <div>
                    Number of guests: {{reservation.num_guests}}
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="mt-4 text-center">
            <button class="btn btn-primary" rel="tooltip" title="Remove">
                Cancel reservation
            </button>
        </div>
    </form>
    {% else %}
    <div class="text-center">
        {% if message and message == 'success' %}
        <h3 class="mb-3">Your reservation has been cancelled!</h3>
        <p>We hope to see you soon. If you wish to make a new reservation click on the button below.</p>
        {% else %}
        <h3 class="mb-3">You don't have a reservation!</h3>
        <p>To book a table click on the button below.</p>
        {% endif %}
        <a href={% url 'booking' %} class="btn btn-primary" role="button">Book a table</a>
    </div>
    {% endif %}
</div>

{%endblock%}