{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Restaurant Le Fleur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100">
    <nav class="nav-menu sticky-top">
        <div>
            <a aria-current="page" href="{% url 'home' %}">Restaurant Le Fleur</a>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li>
                <a href="{% url 'drinks_menu' %}">Drinks menu</a>
            </li>
            <li>
                <a href="{% url 'food_menu' %}">Food menu</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="#">My reservation</a>
            </li>
            <li>
                <a href="#">Log out</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'account_signup' %}">Table booking</a>
            </li>
            <li>
                <a href="{% url 'account_login' %}">Log in</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <section class="container">
            <div class="row justify-content-center">
                {% block content %} {% endblock content %}
            </div>
        </section>
    </main>
    <footer class="mt-auto">
        <div class="d-flex justify-content-between">
            <div class="col">
                <div class="p-5">Restaurant Le Fleur
                    <p><a href="mailto:jossansik@gmail.com">Contact us</a></p>
                </div>
            </div>
            <div class="col text-end">
                <div class="p-5">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>